# site folder
_site/
*/.ipynb_checkpoints/

# Mac Files
.DS_Store

# LaTeX Files
*.lyx~
*-lyxformat-474.lyx

docs/build/*
docs/source/int/*.rst
docs/source/mat/*.rst
docs/source/th/*.rst
docs/source/neu/*.rst
docs/source/int/*.html
docs/source/mat/*.html
docs/source/th/*.html
docs/source/neu/*.html
docs/source/readme.rst
