<div class="push"></div>
  <footer class="footer">
    <aside class="wrap">
    <div class="footer-col-4">
        <h1>Recent Publications</h1>
          <ul>
            {% for post in site.categories.publications | limit:3 %}
              <li>
                <a class="recent-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                <span class="date">
                  {{ post.date | date: "%b %Y" }}
                </span>
              </li>
            {% endfor %}
          </ul>
      </div>

      <div class="social">
        <ul>
            <li><a id="mail" href="mailto:{{ site.owner.email }}"><span class="foot-link">{{ site.owner.email}}</span></a></li>

            {% if site.owner.github %}
            <li>
              <a href="https://github.com/{{ site.owner.github }}">
                <span class="icon  icon--github">
                  <svg viewBox="0 0 16 16">
                    <path fill="#828282" d="M7.999,0.431c-4.285,0-7.76,3.474-7.76,7.761 c0,3.428,2.223,6.337,5.307,7.363c0.388,0.071,0.53-0.168,0.53-0.374c0-0.184-0.007-0.672-0.01-1.32 c-2.159,0.469-2.614-1.04-2.614-1.04c-0.353-0.896-0.862-1.135-0.862-1.135c-0.705-0.481,0.053-0.472,0.053-0.472 c0.779,0.055,1.189,0.8,1.189,0.8c0.692,1.186,1.816,0.843,2.258,0.645c0.071-0.502,0.271-0.843,0.493-1.037 C4.86,11.425,3.049,10.76,3.049,7.786c0-0.847,0.302-1.54,0.799-2.082C3.768,5.507,3.501,4.718,3.924,3.65 c0,0,0.652-0.209,2.134,0.796C6.677,4.273,7.34,4.187,8,4.184c0.659,0.003,1.323,0.089,1.943,0.261 c1.482-1.004,2.132-0.796,2.132-0.796c0.423,1.068,0.157,1.857,0.077,2.054c0.497,0.542,0.798,1.235,0.798,2.082 c0,2.981-1.814,3.637-3.543,3.829c0.279,0.24,0.527,0.713,0.527,1.437c0,1.037-0.01,1.874-0.01,2.129 c0,0.208,0.14,0.449,0.534,0.373c3.081-1.028,5.302-3.935,5.302-7.362C15.76,3.906,12.285,0.431,7.999,0.431z"/>
                  </svg>
                </span>

                <span class="foot-link username">{{ site.owner.github }}</span>
              </a>
            </li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col-4">
      <h1>Alex Hagen</h1>
      <p class="text">{{ site.description }}</p>
    </div>

    </aside>
  </footer>

  <!-- If they're out, get some from the cellar -->
  <script>window.jQuery || document.write('<script src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
  <script src="{{ site.url }}/assets/js/retina.min.js"></script>

  <!-- Custom JS -->
  <script src="{{ site.url }}/assets/js/scripts.js"></script>


  </body>
</html>
