{% include head-dark.html %}

<style>

/* CSS */
.gridWrapper {
      overflow: hidden;
      margin: 10px;
}
.tile {
      float: left;
      position: relative;
      width: 20%;
      padding-bottom: 20%;
    }
.tile-double {
  float:left;
  position:relative;
  width:40%;
  padding-bottom:20%;
}
.tileInner {
      position: absolute;
      left: 10px;
      right: 10px;
      top: 10px;
      bottom: 10px;
      overflow: hidden;
    }
.tileInner img {
      width: 100%;
    }
/*Media Query to Adapt Screen to iPhone*/
@media only screen and (max-width : 320px) {
    .tile {
        width: 100%;
        padding-bottom: 100%;
      }
}
/*Media Query to Adapt Screen to iPhone Retina*/
@media only screen and (max-width : 640px) {
    .box {
        width: 50%;
        padding-bottom: 50%;
      }
}

</style>

<section class="article archive">
  <article class="archive-wrap">
{% assign url_parts = page.url | split: '/' %}
{% assign url_parts_size = url_parts | size %}
<p>{{ url_parts_size }}</p>
{% assign rm = url_parts | last %}
{% assign base_url = page.url | replace: rm %}

<ul>
{% for node in site.pages %}
  <p>{{ node.title }}</p><p>{{ node.date }}</p>
  <p>{{ node.url }}</p><p>{{ base_url }}</p>
  {% if node.url contains base_url %}
    <p>contains {{ base_url }}</p>
    {% assign node_url_parts = node.url | split: '/' %}
    <p> {{ node_url_parts }}</p>
    {% assign node_url_parts_size = node_url_parts | size %}
    <p> {{ node_url_parts_size }}</p>
    {% assign filename = node_url_parts | last %}
    <p> {{ filename }}</p>
    {% if url_parts_size == node_url_parts_size %}
      <li><a href='{{ node.url }}'>{{ node.title }}</a></li>
    {% endif %}
  {% endif %}
{% endfor %}
</ul>

    </div>
  </article>
</section>


{% include footer.html %}